<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Link your subevents - {{linkEventDetails.eventName}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="create-new-event">
    <div class="container">
        Link your subevents here..
    </div>
</section>