<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Define your event</h1>
                        <p>Define the title, description and date of occurrence of your event</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="define-new-event">
    <div class="container">
        <eda-easy-form-viewer
                eda-easy-form-viewer-data-model="event.dataModel"
                eda-easy-form-viewer-easy-form-generator-fields-model="event.fieldsModel"

                eda-easy-form-viewer-submit-button-text="{{event.submitButtonText}}"
                eda-easy-form-viewer-cancel-button-text="{{event.cancelButtonText}}"

                eda-easy-form-viewer-submit-form-event="event.createEvent(dataModelSubmitted)"
                eda-easy-form-viewer-cancel-form-event="event.cancelEvent()">
        </eda-easy-form-viewer>
    </div>
</section>