<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Link your subevents - {{linkEventDetails.eventName}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="create-new-event">
    <div class="container">
        <br />
        <div class="row">
            <div class="col-md-3"><h3>Source</h3></div>
            <div class="col-md-3"><h3>Source Value (if any)</h3></div>
            <div class="col-md-3"><h3>Target</h3></div>
            <div class="col-md-3"><h3>Action</h3></div>
        </div>
        <div ng-repeat="eventFields in linkEventDetails.eventFields">
            <div class="row" ng-repeat="source in eventFields.columns">
                <div class="col-md-3">
                    {{source.control.templateOptions.label}}
                </div>
                <div class="col-md-3">
                    <div ng-switch="source.control.type">
                        <div ng-switch-when="basicSelect">
                            <select class="form-control" name="sourceSelectOptions" id="sourceSelectOptions"
                                    ng-options="fieldOptions.name for fieldOptions in source.control.templateOptions.options"
                                    ng-model="linkEventDetails.links[source.control.key].sourceValue"></select>
                        </div>
                        <div ng-switch-when="checkbox">
                            <select class="form-control" name="sourceCheckboxOptions" id="sourceCheckboxOptions"
                            ng-model="linkEventDetails.links[source.control.key].sourceValue">
                                <option></option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <select class="form-control col-md-4" name="targetField" id="targetField"
                            ng-options="field.control.templateOptions.label for field in eventFields.columns"
                            ng-model="linkEventDetails.links[source.control.key].targetField"></select>
                </div>
                <div class="col-md-3">
                    <select class="form-control col-md-4" ng-model="linkEventDetails.links[source.control.key].action">
                        <option value="true">Disabled</option>
                        <option value="false">Enabled</option>
                    </select>
                </div>
                <br /><br /><br />
            </div>
            <hr/>
        </div>
        <button class="btn btn-success pull-right" ng-click="linkEventDetails.saveLinks()">Save</button>
        <br /><br /><br />
    </div>
</section>