<h1>Subscribe to {{vm.eventName}}</h1>
<h4>{{vm.eventPrice | currency}} <small>Base Price</small>
    <span ng-if="vm.eventFieldPrices.length > 0">|
        <a ng-click="vm.viewFieldPrices('lg', vm.eventFieldPrices)">View subevent price details</a></span>
</h4>
<eda-easy-form-viewer
        eda-easy-form-viewer-data-model="vm.eventDataModel"
        eda-easy-form-viewer-easy-form-generator-fields-model="vm.eventDetails"

        eda-easy-form-viewer-submit-button-text="{{vm.submitButtonText}}"
        eda-easy-form-viewer-cancel-button-text="{{vm.cancelButtonText}}"

        eda-easy-form-viewer-submit-form-event="vm.subscribeToEvent(dataModelSubmitted)"
        eda-easy-form-viewer-cancel-form-event="vm.cancelSubscription()">
</eda-easy-form-viewer>
