<uib-tabset active="activeForm">
    <uib-tab index="0" heading="Register for event">
        <formly-form model="vm.userEventDetails" fields="vm.eventDetails">
            <button type="submit" class="btn btn-default" ng-click="vm.submit(vm.userEventDetails)">Make Payment</button>
        </formly-form>
    </uib-tab>
    <uib-tab index="1" heading="Add Lunch">

    </uib-tab>
    <uib-tab index="2" heading="Add After Care">

    </uib-tab>
    <uib-tab index="2" heading="Extend Morning">

    </uib-tab>
</uib-tabset>