<section id="manage-user-profile">
    <div class="container">
        <form name="userProfileForm" novalidate>
            <div class="row" ng-if="profileUpdated">
                <div class="alert alert-success">
                    Profile Updated Successfully
                </div>
            </div>
            <div class="row">
                <h4>Personal Details - {{vm.userDetails.name}}</h4><hr />
                <div class="col-md-2 col-sm-12"></div>
                <div class="contact-form">
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>Name
                                <div ng-messages="userProfileForm.name.$error">
                                    <p class="label label-primary" ng-message="required">User Name is required</p>
                                </div>
                            </label>
                            <input type="text" name="name" class="form-control" required placeholder="Name"
                                   ng-model="vm.userDetails.name">
                        </div>
                        <div class="form-group">
                            <label>Address
                                <div ng-messages="userProfileForm.addressLine.$error">
                                    <p class="label label-primary" ng-message="required">Address is required</p>
                                </div>
                            </label>
                            <textarea class="form-control" name="addressLine" placeholder="Address" required
                                      ng-model="vm.userDetails.addressLine"></textarea>
                        </div>
                        <div class="form-group">
                            <label>City</label>
                            <input type="text" name="city" class="form-control" placeholder="City"
                                   ng-model="vm.userDetails.addressCity">
                        </div>
                        <div class="form-group">
                            <label>State</label>
                            <input type="text" name="state" class="form-control" placeholder="State"
                                   ng-model="vm.userDetails.addressState">
                        </div>
                        <div class="form-group">
                            <label>Zip
                                <div ng-messages="userProfileForm.zip.$error">
                                    <p class="label label-danger" ng-message="pattern">Enter a valid Zipcode</p>
                                </div>
                            </label>
                            <input type="text" name="zip" class="form-control" placeholder="Zip"
                                   ng-pattern="/^[0-9]*$/"
                                   ng-model="vm.userDetails.addressZip">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" required
                                   placeholder="Email Id" ng-model="vm.userDetails.email" ng-disabled="true">
                        </div>
                        <div class="form-group">
                            <label>Phone (Home)</label>
                            <input type="text" name="phone" id="phone" class="form-control"
                                   placeholder="111 111 1111" ng-model="vm.userDetails.homePhone">
                        </div>
                        <div class="form-group">
                            <label>Phone (Mobile)</label>
                            <input type="text" name="phone" id="phone" class="form-control"
                                   placeholder="111 111 1111" ng-model="vm.userDetails.mobilePhone">
                        </div>
                        <div class="form-group">
                            <label>Phone (Work)</label>
                            <input type="text" name="phone" id="phone" class="form-control"
                                   placeholder="111 111 1111" ng-model="vm.userDetails.workPhone">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="vm.userDetails.familyDetails">
                <h4>Family Details - {{vm.userDetails.name}}</h4><hr />
                <div class="col-md-2 col-sm-12"></div>
                <div class="col-md-4 col-sm-12" data-ng-repeat="family in vm.userDetails.familyDetails">
                    <div class="form-group">
                        <label>Name <a ng-click="removeChoice(family)"><i class="fa fa-minus-circle"></i></a></label>
                        <input type="text" name="phone" id="phone" class="form-control"
                               placeholder="Name" ng-model="family.name">
                        <label>Role</label>
                        <select class="form-control" ng-model="family.role">
                            <option>Adult</option>
                            <option>Child</option>
                        </select>
                        <label>Grade</label>
                        <input class="form-control" type="number" ng-model="family.grade" name="" placeholder="Enter Grade">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-12"></div>
                <div class="col-md-4 col-sm-12">
                    <button class="form-control btn btn-default" ng-click="addNewChoice()">Add family member</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12"></div>
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <input ng-disabled="userProfileForm.$invalid" type="submit" name="submit" class="btn btn-submit"
                               ng-click="vm.updateProfile()" value="Update {{vm.userDetails.name}}'s Profile">
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
