<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Subscriptions Details</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <input type="text" class="form-control" ng-model="searchSubscriptions" placeholder="Search in subscriptions" />
    </div>
    <div class="well row">
        <div class="col-md-2">Subscribed For</div>
        <div class="col-md-2">Subscribed On</div>
        <div class="col-md-6">Subscribed Details</div>
    </div>
    <div class="row" ng-repeat="subscription in subscriptionCtrl.userEvents | filter: searchSubscriptions">
        <div class="col-md-2">{{subscription.childName}}</div>
        <div class="col-md-2">{{subscription.createDate}}</div>
        <div class="col-md-2 pull-right">
            <a ng-click="subscriptionCtrl.unsubscribe(subscription)" class="btn btn-small btn-danger">Unsubscribe</a>
        </div>
        <div class="col-md-6">
            <div class="row">
                <h4>Subscription Item Details</h4>
            </div>
            <div class="row">
                <div class="col-md-4">Transaction id </div>
                <div class="col-md-6">{{subscription.paymentResponse.data.transactionResponse.transId}}
                    <i class="fa fa-info-circle" ng-if="subscription.transactionStatus"
                       uib-tooltip="{{subscription.transactionStatus}}"
                       tooltip-placement="top"></i>
                    <hr>
                </div>
            </div>
            <div class="row" ng-repeat="price in subscription.priceDetails">
                <div class="col-md-4">{{price.label}}</div>
                <div class="col-md-4">
                    <span ng-if="price.subLabel">{{price.subLabel}}</span>
                    <span ng-if="!price.subLabel"></span>
                </div>
                <div class="col-md-4">
                    {{price.price | currency}} <span ng-if="price.discount">({{price.discount}})</span>
                </div>
                <hr>
            </div>
            <div class="row">
                <div class="col-md-4">Base Price</div>
                <div class="col-md-4"></div>
                <div class="col-md-4">{{subscription.basePrice | currency}}</div>
                <hr>
            </div>
            <div class="row">
                <div class="col-md-4">Total</div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    ${{subscription.total.price || subscription.total}} <span ng-if="subscription.total.discount">({{subscription.total.discount}})</span>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="subscriptionCtrl.cancel()">Close</button>
</div>
