<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Manage Users</h1>
                        <p>Update user roles, delete and update user profile</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="create-new-event">
    <div class="container" ui-view>
        <input type="search" class="form-control" ng-model="searchUsers" placeholder="Search for user name or email to find users"/>
        <br />
        <div class="row pull-right">
                <button ng-disabled="vm.currentPage == 0" ng-click="vm.currentPage=vm.currentPage-1">
                    Previous
                </button>
                {{vm.currentPage+1}}/{{vm.numberOfPages()}}
                <button ng-disabled="vm.currentPage >= vm.users.length/vm.pageSize - 1" ng-click="vm.currentPage=vm.currentPage+1">
                    Next
                </button>
            <br /><br />
        </div>
        <table class="table table-hover">
            <thead>
                <th>Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Children</th>
                <th>Health Doc</th>
                <th>User Details</th>
                <th>Other Options</th>
            </thead>

            <tbody>
            <tr ng-repeat="user in vm.users | filter: searchUsers | startFrom:vm.currentPage*vm.pageSize | limitTo:vm.pageSize" style="cursor:pointer">
                <td>
                    <b>{{ user.name }}</b>
                </td>
                <td>
                    <p>{{user.addressLine}} <span ng-if="user.addressCity">, {{user.addressCity}}</span>
                    <span ng-if="user.addressState">, {{user.addressState}}</span>
                    <span ng-if="user.addressZip">, {{user.addressZip}}</span></p>
                </td>
                <td>
                    <p>{{user.email}} </p>
                </td>
                <td>
                    <p ng-if="user.homePhone"><i class="fa fa-home"></i> {{user.homePhone}}</p>
                        <p ng-if="user.workPhone"><i class="fa fa-building"></i> {{user.workPhone}}</p>
                        <p ng-if="user.mobilePhone"><i class="fa fa-mobile"></i> {{user.mobilePhone}}</p>
                        <p ng-if="user.emergencyContact"><i class="fa fa-exclamation"></i> {{user.emergencyContact}}</p>
                </td>
                <td>
                    <p ng-repeat="family in user.familyDetails">
                        Name : {{family.name}}, Role : {{family.role}}, Grade : {{family.grade}}
                    </p>
                </td>
                <td>
                    <a href="{{user.healthDocRef}}" target="_blank" ng-if="user.healthDocRef" class="btn btn-primary">View Health Doc</a>
                    <a ng-if="user.healthDocRef" ng-click="vm.removeHealthDoc(user.healthDocRef)" class="btn btn-warning">Remove Health Doc</a>
                    <p ng-if="!user.healthDocRef">No health doc available</p>
                </td>
                <td>
                    <a ui-sref="manageUsers.editUser({userId: user._id})"><i class="fa fa-user"></i></a>
                    <!--<a ng-click="vm.viewSubscriptions('lg', user)"><i class="fa fa-rss"></i></a>-->
                </td>
                <td>
                    <a confirm-click="Are you sure you want to remove {{user.name}} from the system?"
                            ng-click="confirmClick() && vm.deleteUser(user._id)"><i class="fa fa-trash-o"></i></a>
                    <a ng-if="!user.isAdmin"
                       ng-click="vm.toggleAdmin(user._id)"><i class="fa fa-user"></i></a>
                    <a ng-if="user.isAdmin"
                       ng-click="vm.toggleAdmin(user._id)"><i class="fa fa-remove"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="row pull-right">
            <h4>Other options reference</h4>
            <i class="fa fa-trash-o"></i> Remove User
            <i class="fa fa-user"></i> Make user an admin
            <i class="fa fa-remove"></i> Remove user from admin group
        </div>
        <br /><br />
    </div>
</section>
