<div class="row">
    <div class="col-md-1">
        <button class="btn btn-default" ng-click="eventsList.filterEvents('all')">All</button>
    </div>
    <div class="col-md-1">
        <button class="btn btn-default" ng-click="eventsList.filterEvents('active')">Active</button>
    </div>
    <div class="col-md-1">
        <button class="btn btn-default" ng-click="eventsList.filterEvents('expired')">Expired</button>
    </div>
</div>
<br />
<div class="row">
    <input type="search" class="form-control" ng-model="searchEvents" placeholder="Search for events with date or event name or description"/>
</div>
<br />
<div class="row">
    <div class="[ col-xs-12 col-sm-12 col-md-12 ]">
        <ul class="event-list">
            <li ng-repeat="event in eventsList.events | orderBy:'eventDate' | filter: searchEvents">
                <time datetime="{{event.eventDate}}">
                    <span class="day">{{event.eventDate | date}}</span>
                </time>
                <div class="info">
                    <h2 class="title">{{event.eventName}}</h2>
                    <p class="desc">{{event.eventDescription}}</p>
                    <ul>
                        <li style="width:33%;"><a ui-sref="events.viewSubscriptions({eventId: event._id})"><span class="fa fa-download"></span> View Subscriptions</a></li>
                        <li style="width:33%;"><a ui-sref="events.deleteEvent({eventId: event._id})"><span class="fa fa-download"></span> Delete Event</a></li>
                        <li style="width:33%;"><a ui-sref="events.notifySubscribers({eventId: event._id})"><span class="fa fa-download"></span> Notify Subscribers</a></li>
                    </ul>
                </div>
                <div class="social">
                    <ul>
                        <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
                        <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
                        <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>