<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Subscriptions for {{viewEventSubscriptionCtrl.event.eventName}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <br/>
    <h1>{{viewEventSubscriptionCtrl.totalNumberOfSubscriptions}} <small>Subscriptions</small></h1>
    <div ng-if="viewEventSubscriptionCtrl.subscriptions.length > 0">
        <div class="row">
            <input type="text" ng-model="searchSubscriptions" class="form-control" placeholder="Search subscriptions"/>
        </div>
        <div class="well row">
            <div class="col-md-2">Subscribed By</div>
            <div class="col-md-2">Subscribed For</div>
            <div class="col-md-2">Subscribed On</div>
            <div class="col-md-6">Subscribed Details</div>
        </div>
        <div class="row"
             ng-repeat="subscription in viewEventSubscriptionCtrl.subscriptions | filter:searchSubscriptions">
            <div class="col-md-2">{{subscription.subscribedBy}}</div>
            <div class="col-md-2">{{subscription.subscribedFor}}</div>
            <div class="col-md-2">{{subscription.subscribedOn}}</div>
            <div class="col-md-6">
                <div ng-repeat="sub in subscription.pricingDetails">
                    <div class="row">
                        <div class="col-md-4">Transaction id </div>
                        <div class="col-md-6">{{sub.paymentResponse.data.transactionResponse.transId}}
                            <i class="fa fa-info-circle" ng-if="sub.transactionStatus"
                               uib-tooltip="{{sub.transactionStatus}}"
                               tooltip-placement="top"></i>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <h4>Subscription Item Details</h4>
                    </div>
                    <div class="row" ng-repeat="price in sub.priceDetails">
                        <div class="col-md-4">{{price.label}}</div>
                        <div class="col-md-4">
                            <span ng-if="price.subLabel">{{price.subLabel}}</span>
                            <span ng-if="!price.subLabel"></span>
                        </div>
                        <div class="col-md-4">
                            {{price.price | currency}} <span ng-if="price.discount">({{price.discount}})</span>
                        </div>
                        <hr>
                    </div>
                    <div class="row" ng-if="sub.basePrice > 0">
                        <div class="col-md-4">Base Price</div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">{{sub.basePrice | currency}}</div>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Total Price</div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            ${{sub.total.price || sub.total}} <span ng-if="sub.total.discount">({{sub.total.discount}})</span>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="viewEventSubscriptionCtrl.cancel()">Close</button>
</div>
