<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Subevent Prices</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-4">Field</div>
        <div class="col-md-4">Option</div>
        <div class="col-md-4">Price ($)</div>
    </div>
    <div ng-repeat="subEvent in viewEventFieldPrices.subEventPrices">
        <div class="row">
            <div class="col-md-4">
                <div ng-if="subEvent.parentField">{{subEvent.parentField}}</div>
                <div ng-if="!subEvent.parentField">{{subEvent.field}}</div>
            </div>
            <div class="col-md-4">
                <div ng-if="subEvent.parentField">{{subEvent.field}}</div>
                <div ng-if="!subEvent.parentField"></div>
            </div>
            <div class="col-md-4">
                {{subEvent.price | currency}}
            </div>
        <div>
        </div>
            </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="viewEventFieldPrices.cancel()">Close</button>
</div>
