<form name="forgotPasswordForm" novalidate>
    <div class="form-group">
        <label>Email
            <div ng-messages="forgotPasswordForm.email.$error">
                <p class="label label-primary" ng-message="required">Email is required</p>
                <p class="label label-primary" ng-message="email">Enter a valid email</p>
            </div>
        </label>
        <input type="email" name="email" class="form-control" required ng-model="forgotPass.loginEmail"
               placeholder="Email Id"/>
    </div>
    <div class="form-group">
        <button ng-disabled="forgotPasswordForm.$invalid" name="submit" class="btn btn-submit"
               ng-click="forgotPass.recoverAccount()" >Recover My Account</button>
    </div>
</form>
