<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Account Recovery Failure</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="forgot-password">
    <div class="container">
        <h3>Please enter a valid email registered in the system to recover.</h3>
    </div>
</section>
