<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Account Recovered Successful</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="forgot-password">
    <div class="container">
            <h3>Your account has been successfully recovered. Please check your email for instructions to recover your account.
            <small>Make sure to check the spam folder if you don't see it in your inbox.</small></h3>
        <h3>After recovering your account <a ui-sref="login">login</a> to the system</h3>
    </div>
</section>
