<div ui-view>
    <section id="page-breadcrumb">
        <div class="vertical-center sun">
            <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Recover My account</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="forgot-password">
        <div class="container">
            <div class="col-md-4"></div>
            <div class="contact-form col-md-4">
                <form name="recoverPasswordForm" novalidate>
                    <div class="form-group">
                        <label>New Password
                            <div ng-messages="recoverPasswordForm.password.$error">
                                <p class="label label-danger" ng-message="required">Password is required</p>
                                <p class="label label-danger" ng-message="minlength">Password must be 7 characters long</p>
                            </div>
                        </label>
                        <input type="password" name="password" class="form-control" required ng-model="newPassword"
                               ng-minlength="7"
                               placeholder="New Password"/>
                    </div>
                    <div class="form-group">
                        <button ng-disabled="recoverPasswordForm.$invalid" name="submit" class="btn btn-submit"
                                ng-click="resetPassword(newPassword)" >Reset my password</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
