<section id="home-slider" ng-if="!userDetails.isAdmin">
    <div class="container">
        <div class="row">
            <div class="main-slider">
                <div class="slide-text">
                    <h1>Events</h1>
                    <p>Be able to find events, subscribe and get notified..</p>
                    <a ng-if="!showLogin" ui-sref="login" class="btn btn-common">SIGN UP</a>
                </div>
                <img src="/images/home/slider/hill.png" class="slider-hill" alt="slider image">
                <img src="/images/home/slider/house.png" class="slider-house" alt="slider image">
                <img src="/images/home/slider/sun.png" class="slider-sun" alt="slider image">
            </div>
        </div>
    </div>
</section>
<!--/#home-slider-->

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                        <i class="fa fa-calendar fa-5x"></i>
                    </div>
                    <div ng-if="userDetails.isAdmin">
                        <h2>Add Event</h2>
                        <p>Create an Event for users to subscribe</p>
                    </div>
                    <div ng-if="!userDetails.isAdmin">
                        <h2>Look for Events</h2>
                        <p>Search Events and subscribe to them</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                        <i class="fa fa-pencil-square-o fa-5x"></i>
                    </div>
                    <div ng-if="userDetails.isAdmin">
                        <h2>Manage Events</h2>
                        <p>View Event subscriptions, delete event, update event and send notifications to event subscribers</p>
                    </div>
                    <div ng-if="!userDetails.isAdmin">
                        <h2>Update Your Profile</h2>
                        <p>Update your profile to add family details</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                        <i ng-if="userDetails.isAdmin" class="fa fa-users fa-5x"></i>
                        <i ng-if="!userDetails.isAdmin" class="fa fa-mail-reply fa-5x"></i>
                    </div>
                    <div ng-if="userDetails.isAdmin">
                        <h2>Manage Users</h2>
                        <p>Manage user profile, delete users and change user type</p>
                    </div>
                    <div ng-if="!userDetails.isAdmin">
                        <h2>Get Notified</h2>
                        <p>Get notified about your event subscriptions</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#services-->

<section id="action" class="responsive" ng-if="!userDetails.isAdmin">
    <div class="vertical-center">
        <div class="container">
            <div class="row">
                <div class="action take-tour">
                    <div class="col-sm-7 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h1 class="title">Chinmaya Vrindavan Events</h1>
                        <p>View, subscribe and get alerted on all the events happening in Chinmaya Crindavan</p>
                    </div>
                    <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <div class="tour-button">
                            <a href="#" class="btn btn-common">Know more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#action-->