<section id="home-slider">
    <div class="container">
        <div class="row">
            <div class="main-slider">
                <div class="slide-text">
                    <h1>Events</h1>
                    <p>Be able to find events, subscribe and get notified..</p>
                    <a ng-if="!showLogin" ui-sref="login" class="btn btn-common">SIGN UP</a>
                </div>
                <img src="/images/home/slider/hill.png" class="slider-hill" alt="slider image">
                <img src="/images/home/slider/house.png" class="slider-house" alt="slider image">
                <img src="/images/home/slider/sun.png" class="slider-sun" alt="slider image">
            </div>
        </div>
    </div>
</section>
<!--/#home-slider-->

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="/images/home/icon1.png" alt="">
                    </div>
                    <h2>Find Events</h2>
                    <p>Some text here...</p>
                </div>
            </div>
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                        <img src="/images/home/icon2.png" alt="">
                    </div>
                    <h2>Subscribe Events</h2>
                    <p>Some text here...</p>
                </div>
            </div>
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                        <img src="/images/home/icon3.png" alt="">
                    </div>
                    <h2>Get notified</h2>
                    <p>Some text here...</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#services-->

<section id="action" class="responsive">
    <div class="vertical-center">
        <div class="container">
            <div class="row">
                <div class="action take-tour">
                    <div class="col-sm-7 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h1 class="title">Chinmaya Vrindavan Events</h1>
                        <p>View, subscribe and get alerted on all the events happening in Chinmaya Crindavan</p>
                    </div>
                    <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <div class="tour-button">
                            <a href="#" class="btn btn-common">Know more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#action-->