<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12" ng-if="!register">
                        <h1 class="title">Login</h1>
                        <p>Login to subscribe to events</p>
                    </div>
                    <div class="col-sm-12" ng-if="register">
                        <h1 class="title">Register</h1>
                        <p>Get yourself registered to get started..</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="login" ng-if="!register">
    <div class="row" ng-if="invalidUserLogin">
        <div class="col-md-4 col-sm-12"></div>
        <div class="alert alert-danger col-md-4 col-sm-12">
            <span>Invalid email/password</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12"></div>
        <div class="col-md-4 col-sm-12">
            <div class="contact-form">
                <form name="loginForm" novalidate>
                    <div class="form-group">
                        <label>Email
                            <div ng-messages="loginForm.email.$error">
                                <p class="label label-danger" ng-message="required">Email is required</p>
                                <p class="label label-danger" ng-message="email">Enter a valid email</p>
                            </div>
                        </label>
                        <input type="email" name="email" class="form-control" required ng-model="loginEmail"
                               />
                    </div>
                    <div class="form-group">
                        <label>Password
                            <div ng-messages="loginForm.password.$error">
                                <p class="label label-danger" ng-message="required">Password is required</p>
                                <p class="label label-danger" ng-message="minlength">Enter valid password. Password must be 5 characters long</p>
                            </div>
                        </label>
                        <input type="password" name="password" id="password" required class="form-control"
                               ng-model="loginPassword"
                               placeholder="Password" ng-minlength="5"/>
                    </div>
                    <div class="form-group">
                        <input ng-disabled="loginForm.$invalid" type="submit" name="submit" class="btn btn-submit"
                               ng-click="loginUser(loginEmail, loginPassword)" value="Login">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12"></div>
        <div class="col-md-4 col-sm-12">
            Don't have an account. <a ng-click="toggleRegister()">Register?</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12"></div>
        <div class="col-md-4 col-sm-12">
            <a ui-sref="forgotPassword">Forgot Password?</a>
        </div>
    </div>
</section>
<section id="register" ng-if="register">
    <div class="row" ng-if="invalidRegisterLogin">
        <div class="col-md-4 col-sm-12"></div>
        <div class="col-md-4 col-sm-12">
            <span>User with email already exists. <a ng-click="toggleRegister()">Login?</a></span>
        </div>
    </div>
    <form name="registerForm" novalidate>
        <div class="row">
            <div class="col-md-2 col-sm-12"></div>
                <div class="contact-form">
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>Name
                                    <div ng-messages="registerForm.name.$error">
                                        <p class="label label-danger" ng-message="required">User Name is required</p>
                                    </div>
                                </label>
                                <input type="text" name="name" class="form-control" required placeholder="Name" ng-model="user.name">
                            </div>
                            <div class="form-group">
                                <label>Address
                                </label>
                                <textarea class="form-control" name="addressLine" placeholder="Address" ng-model="user.addressLine"></textarea>
                            </div>
                            <div class="form-group">
                                <label>City</label>
                                <input type="text" name="city" class="form-control" placeholder="City" ng-model="user.addressCity">
                            </div>
                            <div class="form-group">
                                <label>State</label>
                                <input type="text" name="state" class="form-control" placeholder="State" ng-model="user.addressState">
                            </div>
                            <div class="form-group">
                                <label>Zip
                                    <div ng-messages="registerForm.zip.$error">
                                        <p class="label label-danger" ng-message="pattern">Enter a valid Zipcode</p>
                                    </div>
                                </label>
                                <input type="text" ng-pattern="/^[0-9]*$/" name="zip" class="form-control" placeholder="Zip" ng-model="user.addressZip">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>Email
                                    <div ng-messages="registerForm.email.$error">
                                        <p class="label label-danger" ng-message="required">Email is required</p>
                                        <p class="label label-danger" ng-message="email">Enter a valid email</p>
                                    </div>
                                </label>
                                <input type="email" name="email" class="form-control" required
                                       placeholder="Email Id" ng-model="user.email">
                            </div>
                            <div class="form-group">
                                <label>Phone (Home)</label>
                                <input type="text" name="phone" id="phone" class="form-control"
                                       placeholder="111 111 1111" ng-model="user.homePhone">
                            </div>
                            <div class="form-group">
                                <label>Phone (Mobile)</label>
                                <input type="text" name="phone" id="phone" class="form-control"
                                       placeholder="111 111 1111" ng-model="user.mobilePhone">
                            </div>
                            <div class="form-group">
                                <label>Phone (Work)</label>
                                <input type="text" name="phone" id="phone" class="form-control"
                                       placeholder="111 111 1111" ng-model="user.workPhone">
                            </div>
                            <div class="form-group">
                                <label>Password
                                    <div ng-messages="registerForm.password.$error">
                                        <p class="label label-danger" ng-message="required">Password is required</p>
                                        <p class="label label-danger" ng-message="minlength">Password must be atleast 5 characters long</p>
                                    </div>
                                </label>
                                <input type="password" name="password" id="password" required
                                       class="form-control" ng-minlength="5" ng-model="user.password">
                            </div>
                        </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12"></div>
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <input ng-disabled="registerForm.$invalid" type="submit" name="submit" class="btn btn-submit"
                           ng-click="registerUser(user)" value="Register">
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-4 col-sm-12"></div>
        <div class="col-md-4 col-sm-12">
            <a ng-click="toggleRegister()">Haven an id? Login</a>
        </div>
    </div>
</section>
