<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">My Subscriptions</h1>
                        <p>View all the events you have subscribed here..</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="view-events">
    <div class="container">
        <div class="row">
            <input type="search" class="form-control" ng-model="searchEvents" placeholder="Search for events with date or event name or description or name of the child"/>
            <br />
        </div>
        <div class="row">
            <div class="[ col-xs-12 col-sm-12 col-md-12 ]">
                <ul class="event-list">
                    <li ng-repeat="event in events | orderBy:'eventDate' | filter: searchEvents">
                        <time datetime="{{event.eventDate}}">
                            <span class="day">{{event.eventDate | date}}</span>
                        </time>
                        <div class="info">
                            <h2 class="title">{{event.eventName}}</h2>
                            <p class="desc">{{event.eventDescription}}</p>
                            <p class="desc">Subscribed for {{event.familySubscriptionDetails.childName}} on {{event.familySubscriptionDetails.createDate | date}}</p>
                            <p class="desc"><a ng-click="showDetails('lg', event)">View Subscription Details</a></p>
                        </div>
                        <div class="social">
                            <ul>
                                <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
                                <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
                                <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="portfolio-items" ng-if="!events">
                There are no subscriptions in here.. Try finding <a ui-sref="events">events</a>..
                </div>
        </div>
    </div>
</section>
