<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">My Subscriptions</h1>
                        <p>View all the events you have subscribed here..</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="view-events">
    <div class="container">
        <div class="row">

            <div class="portfolio-items" ng-if="events">
                <div class="col-xs-6 col-sm-4 col-md-3 portfolio-item branded logos" ng-repeat="event in events | orderBy:'date'">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="images/portfolio/1.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="portfolio-view">
                                <ul class="nav nav-pills">
                                    <li><a ng-href="#/events/{{event._id}}"><i class="fa fa-link"></i></a></li>
                                    <li><a ng-click="unsubscribeEvent(event)"><i class="fa fa-unlink"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="portfolio-info ">
                            <h2>{{ event.name }}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio-items" ng-if="!events">
                There are no subscriptions in here.. Try finding <a ui-sref="events">events</a>..
                </div>
        </div>
    </div>
</section>